---
import Layout from '../layouts/Layout.astro';
---

<Layout>
    <h1 class="text-3xl font-bold mb-6">Portfolio</h1>
    <ul class="grid gap-6">
        <li class="border p-4 rounded bg-gray-800">
            <a href="/devlog/day-1" class="block">
                <h2 class="text-xl font-semibold">Day 1</h2>
            </a>
        </li>
        <li class="border p-4 rounded bg-gray-800">
            <a href="/devlog/day-2" class="block">
                <h2 class="text-xl font-semibold">Day 2</h2>
            </a>
        </li>
    </ul>
</Layout>
