---
import Layout from '../layouts/Layout.astro';
---

<Layout>
	<title>About me</title>
	<h1 class="text-5xl font-bold mb-6">Hi, I'm Sam.</h1>
	<p class="text-lg max-w-xl text-gray-300">
		I'm a games programmer looking forward to specialising in audio programming, always striving for a smooth and memorable player experience by writing clean, efficient and modernised code.
	</p>
</Layout>
