---
import '../styles/global.css';
---

<html lang="en">
  <head>
    <slot name="head" />
  </head>
  <body class="bg-gray-900 text-white font-sans p-10">
  <nav class="mb-10">
    <ul class="flex space-x-4 text-lg">
      <li><a href="/" class="hover:underline">Home</a></li>
      <li><a href="/portfolio" class="hover:underline">Portfolio</a></li>
      <li><a href="/cv" class="hover:underline">CV</a> </li>
      <li><a href="/devlog" class="hover:underline">Devlog</a></li>
    </ul>
  </nav>
  <slot />
  </body>
</html>
