---
import Layout from '../../layouts/Layout.astro';
import Lightbox from '../../components/Lightbox.svelte';
---

<Layout>
    <title>About The Obsidian Trials</title>
    <h1 class="text-3xl font-bold mb-4">The Obsidian Trials</h1>
    <h3 class="text-gray-300 text-xl font-medium italic">A fun and challenging platformer created for Ukie Games Jam 2025...</h3>
    <h2 class="text-2xl font-semibold underline">Game jam submission</h2>
    <a href="https://itch.io/jam/ukie-student-game-jam-2025/rate/3396013">
        <img src="https://go-skill-icons.vercel.app/api/icons?i=itchio" alt="An itch.io icon which links to the game jam page for our submission." />
    </a>
    <h2 class="text-2xl font-semibold underline">Source code</h2>
    <a href="https://gitlab.com/the-obsidian-helldivers/the-obsidian-trials">
        <img src="https://go-skill-icons.vercel.app/api/icons?i=gitlab" alt="An icon for GitLab which links to the project's source code repository." />
    </a>
    <Lightbox images={[
        { src: '/images/portfolio/the-obsidian-trials/otfire.webp', alt: 'A screenshot from The Obsidian Trials, showcasing the fire level.', caption: 'The fire level.'},
        { src: '/images/portfolio/the-obsidian-trials/otice.webp', alt: 'A screenshot from The Obsidian Trials, showcasing the ice level.', caption: 'The ice level.'},
        { src: '/images/portfolio/the-obsidian-trials/otfireice.webp', alt: 'A screenshot from The Obsidian Trials, showcasing the combined fire and ice level.', caption: 'The combined fire and ice level.' }
    ]} client:load />
    <p>The Obsidian Trials is a platforming game made by a team of 5 students in Unreal Engine 5 for the Ukie Games Jam 2025. I was responsible for implementing our checkpoint system as well as our player code. I also created and managed the code repository and helped to co-ordinate the team. I also made the final submission on itch.io.</p>
    <h2 class="text-2xl font-semibold">Tools we used</h2>
    <h3 class="text-xl font-medium">Development</h3>
    <p>
        <a href="https://github.com/LelouchFR/skill-icons">
            <img src="https://go-skill-icons.vercel.app/api/icons?i=github,unrealengine" alt="Icons for GitHub and Unreal Engine, showcasing the tools used to develop The Obsidian Trials."/>
        </a>
    </p>
    <h3 class="text-xl font-medium">Communication and co-ordination</h3>
    <a href="https://github.com/LelouchFR/skill-icons">
        <img src="https://go-skill-icons.vercel.app/api/icons?i=discord,miro" alt="Icons for Discord and Miro, showcasing the tools used to communicate and co-ordinate within the development team."/>
    </a>
    <h3 class="text-xl font-medium">Deployment and file hosting</h3>
    <a href="https://github.com/LelouchFR/skill-icons">
        <img src="https://go-skill-icons.vercel.app/api/icons?i=itchio,gitlab" alt="Icons for itch.io and gitlab, showcasing the tools used to deploy and host code and assets for our game." />
    </a>
    <p>Note: We used GitHub for version control during development as most of the team had only used GitHub before the game jam started. After the game jam was over I transferred the repository to GitLab to take advantage of its higher per-repository free storage limit. </p>
</Layout>
