---
import Layout from '../../layouts/Layout.astro';
import Lightbox from '../../components/Lightbox.svelte';
---

<Layout>
    <h1 class="text-3xl font-bold mb-4">The Obsidian Trials</h1>
    <h3 class="text-gray-300 text-xl font-medium">A fun and challenging platformer created for the Ukie Games Jam 2025...</h3>
    <Lightbox images={[
        { src: '/images/portfolio/the-obsidian-trials/otfire.webp', alt: 'A screenshot from The Obsidian Trials, showcasing the fire level.', caption: 'The fire level.'},
        { src: '/images/portfolio/the-obsidian-trials/otice.webp', alt: 'A screenshot from The Obsidian Trials, showcasing the ice level.', caption: 'The ice level.'},
        { src: '/images/portfolio/the-obsidian-trials/otfireice.webp', alt: 'A screenshot from The Obsidian Trials, showcasing the combined fire and ice level.', caption: 'The combined fire and ice level.' }
    ]} client:load />
    <p>The Obsidian Trials is a platforming game made by a small team of students in Unreal Engine 5 for the Ukie Games Jam 2025. I was responsible for implementing our checkpoint system as well as our player code. I also created and managed the code repository and helped to co-ordinate the team. I also made the final submission on itch.io.</p>
    <h2 class="text-2xl font-semibold">Tools we used</h2>
    <h3 class="text-xl font-medium">Development</h3>
    <p>
        <a href="https://skillicons.dev">
            <img src="https://skillicons.dev/icons?i=github,unrealengine" alt="Icons for GitHub and Unreal Engine, showcasing the tools used to develop The Obsidian Trials."/>
        </a>
    </p>
    <h3 class="text-xl font-medium">Communication and co-ordination</h3>
    <a href="https://github.com/LelouchFR/skill-icons">
        <img src="https://go-skill-icons.vercel.app/api/icons?i=discord,miro" />
    </a>
    <h3 class="text-xl font-medium">Deployment and file hosting</h3>
    <a href="https://github.com/LelouchFR/skill-icons">
        <img src="https://go-skill-icons.vercel.app/api/icons?i=itchio,gitlab" />
    </a>
    <p>Note: We used GitHub for version control during development as most of the team had only used GitHub. After the game jam was over I transferred the repository to GitLab to take advantage of its higher per-repository free storage limit. </p>
</Layout>
